@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

:root{
--textColor: hsl(229, 25%, 31%);
--scoreColor: hsl(229, 64%, 46%);
--borderColor: hsl(217, 16%, 45%);
--scissorsGradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
--paperGradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
--rockGradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(at top,hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    font-family: "Barlow Semi Condensed", sans-serif;
    letter-spacing: 2px;

}

header{
    border: 2px solid var(--borderColor);
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    padding: 15px;
    max-width: 600px;
    align-items: center;
    margin-top: 50px;
}

.score {
    background: white;
    border-radius: 10px;
    padding: 10px 30px;
    text-align: center;
}

.points {
    font-size: 55px;
    color: var(--textColor);
    display: block;
    line-height: 50px;
}

.score-title {
    color: var(--scoreColor);

}

main{
    margin: 0 auto;
    max-width: 600px;
    height: 70vh;
    margin: 0 auto;
    position: relative;
    padding-top: 150px;
}
section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.game {
  aspect-ratio: 313 / 278;
    background-image: url("./images/bg-triangle.svg");
    background-size: cover;
    margin: 0 auto;
    width: 50%;
}

.game button{
    cursor: pointer;
    position: absolute;
    height: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px -10px 0px rgba(0, 0, 0, 0.5);
}

.paperbtn{
        background: linear-gradient(var(--paperGradient));

}

.scissorsbtn{
    background: linear-gradient(var(--scissorsGradient));
}

.rockbtn{
    background: linear-gradient(var(--rockGradient));
}



.game .paperbtn{
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);

}

.game .scissorsbtn{
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
}

.game .rockbtn{
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.btnimg {
    background-color: white;
    height: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.game img {
    width: 50%;
}

.fight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  width: 1000%;
  aspect-ratio: 1/1;
  margin: 0 auto;
  padding: 0 auto;
  color: white;

}

.picked {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex: 1;
  text-align: center;
  justify-content: center;
  padding: 0 auto;
  width: 50%;
}


.fight button {
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.2);
}


.picked span{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.placeholder {
  width: 75%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
}







.rules{
   position: fixed;
   right: 30px;

}

.rulesbtn{
    background: none;
    color: white;
    border: 2px solid var(--borderColor);
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 30px;
    letter-spacing: 2px;
}






















footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.attribution { font-size: 11px; text-align: center; }
    
.attribution a { color: hsl(228, 45%, 44%); }